body {
    margin: 0;
}

.page {
    width: 1280px;
    margin: 0 auto;
    background-color: #FFF;
    font-family: Calibri, sans-serif;
}

.container-image {
    font-size: 0;
}

.nav-header {
    text-align: center;
}

.link-header {
    display: inline-block;
    color: #16A085;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 50px;
}

.image-header {
    width: 100%;
}

.container-content {
    margin: 0;
    text-align: center;
    background-color: #F5F6F7;
}

.heading-content {
    display: inline-block;
    text-transform: uppercase;
}

.par-content {
    color: #373737;
    margin: 0 85px;
}

.button-content {
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    border-radius: 2px;
    border: none;
    background-color: #16A085;
    padding: 10px 20px;
    margin: 35px 0 85px;
}

.par-footer {
    text-align: right;
    padding: 20px 85px;
}

